﻿@*@model IEnumerable<React_Onboarding.Models.Customer>*@




<div class="container" style="margin-top:7%"></div>

<div class="row">

	<div id="productIndex"></div>
</div>



@section scripts{
	<script src="~/Scripts/ReactScript/dist/products.bundle.js"></script>
}



