﻿@*@model IEnumerable<React_Onboarding.Models.Store>*@




<div class="container" style="margin-top:7%"></div>

<div class="row">

	<div id="storeIndex"></div>
</div>



@section scripts{
	<script src="~/Scripts/ReactScript/dist/stores.bundle.js"></script>
}



