﻿@*@model IEnumerable<React_Onboarding.Models.Sales>*@




<div class="container" style="margin-top:7%"></div>

<div class="row">

	<div id="salesIndex"></div>
</div>



@section scripts{
	<script src="~/Scripts/ReactScript/dist/sales.bundle.js"></script>
}



